.login-page {
    padding-top: 10% !important;
    margin-left: -250px !important;
}

@media (max-width: 991px) {
    .login-page {
        margin-left: 0px !important;
    }

    .logo-custom {
        margin-left: 0px !important;
    }

    .btn-custom {
        margin: 2px;
    }
}

.logo-custom {
    margin-left: 10px;
    margin-bottom: 6px;
}

.yt-link {
    font-size:x-large;
    text-decoration:none !important;
}

.row-card-no-pd-custom {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}

.view-routine {
    font-size: 20px !important;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
