.login-page {
    padding-top: 10% !important;
    margin-left: -250px !important;
}

@media (max-width: 991px) {
    .login-page {
        margin-left: 0px !important;
    }

    .logo-custom {
        margin-left: 0px !important;
    }
}

.logo-custom {
    margin-left: 10px;
    margin-bottom: 6px;
}

.yt-link {
    font-size:x-large;
    text-decoration:none !important;
}
