{% extends "base.html" %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Rutinas</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'dashboard' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'routine_list' %}">Rutinas</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% if user.is_trainer %}
                            <div class="row">
                                <div class="col-md-12 float-right">
                                    <a href="{% url 'routine_create' %}" class="btn btn-success float-right">
                                        <i class="fas fa-clipboard-list"></i> Nueva rutina
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <table class="table table-head-bg-info mt-4">
                            <thead>
                                <tr class="col-md-12">
                                    <th scope="col" class="col-md-6 text-center">Rutina</th>
                                    <th class="col-md-6 text-center" scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for routine in routines %}
                                <tr>
                                    <td>{{routine.name}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'routine_detail' routine.id %}" class="btn btn-info btn-custom">Ver</a>
                                        {% if user.is_trainer %}
                                            <a href="{% url 'routine_edit' routine.id %}" class="btn btn-primary btn-custom">Editar</a>
                                            <a href="{% url 'routine_instruction_list' routine.id %}" class="btn btn-secondary btn-custom">Ejercicios</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
