{% extends "base.html" %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Detalle {{routine.name}}</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'dashboard' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'routine_list' %}">Rutinas</a>
                </li>
                 <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'routine_detail' routine.id %}">{{routine.name}}</a>
                </li>
            </ul>
        </div>
        {%if routine.description%}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Descripción de la rutina</h4>
                        </div>
                        <div class="card-body">
                            <p>{{routine.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Duración estimada</h4>
                    </div>
                    <div class="card-body">
                        <h3>
                            {%if routine.estimated_duration%}
                                {{routine.estimated_duration}}
                            {%else%}
                                No especificado
                            {%endif%}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nivel de esfuerzo</h4>
                    </div>
                    <div class="card-body">
                        <h3>
                            {%if routine.effort_level%}
                                {{routine.effort_level_desc}}
                            {%else%}
                                No especificado
                            {%endif%}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for instruction in routine_instructions %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><strong>#{{ forloop.counter }}</strong> {{instruction.title}}</h4>
                        </div>
                        <div class="card-body" style="min-height:340px;">
                            <div class="row">
                                <div class="col-5 col-md-2 text-center">
                                    <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd nav-pills-icons" id="v-pills-tab-with-icon-{{instruction.id}}" role="tablist" aria-orientation="vertical">
                                        {% if instruction.video_link %}
                                            <a class="nav-link active show" id="v-pills-video-tab-icons-{{instruction.id}}" data-toggle="pill" href="#v-pills-video-icons-{{instruction.id}}" role="tab" aria-controls="v-pills-video-icons-{{instruction.id}}" aria-selected="true">
                                                <i class="flaticon-play-button-1"></i>
                                                Video
                                            </a>
                                        {% endif %}
                                        {% if instruction.description %}
                                            <a class="nav-link {% if not instruction.video_link %}active show{% endif %}" id="v-pills-description-tab-icons-{{instruction.id}}" data-toggle="pill" href="#v-pills-description-icons-{{instruction.id}}" role="tab" aria-controls="v-pills-description-icons-{{instruction.id}}" aria-selected="false">
                                                <i class="flaticon-list"></i>
                                                Descripción
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-7 col-md-10 text-center">
                                    <div class="tab-content" id="v-pills-with-icon-tabContent-{{instruction.id}}">
                                        {% if instruction.video_link %}
                                            <div class="tab-pane fade active show" id="v-pills-video-icons-{{instruction.id}}" role="tabpanel" aria-labelledby="v-pills-video-tab-icons-{{instruction.id}}">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{instruction.get_yt_video_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        {% endif %}
                                        {% if instruction.description %}
                                            <div class="tab-pane fade {% if not instruction.video_link %}active show{% endif %}" id="v-pills-description-icons-{{instruction.id}}" role="tabpanel" aria-labelledby="v-pills-description-tab-icons-{{instruction.id}}">
                                                <p class="text-center">{{instruction.description}}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
