{% extends "base.html" %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Rutinas</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'dashboard' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'routine_list' %}">Rutinas</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% if user.is_trainer %}
                            <div class="row">
                                <div class="col-md-12 float-right">
                                    <a href="{% url 'routine_create' %}" class="btn btn-success float-right">
                                        <i class="fas fa-clipboard-list"></i> Nueva rutina
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {% for routine in routines %}
                            <div class="row row-card-no-pd row-card-no-pd-custom">
                                <div class="col-sm-6 col-md-3">
                                    <div class="card card-stats card-round">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="flaticon-list text-secondary"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-stats">
                                                    <div class="numbers">
                                                        <p class="card-category">Rutina</p>
                                                        <h4 class="card-title">{{routine.name}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="card card-stats card-round">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="flaticon-time text-success"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-stats">
                                                    <div class="numbers">
                                                        <p class="card-category">Duración estimada</p>
                                                        <h4 class="card-title">
                                                            {% if routine.estimated_duration %}
                                                                {{routine.estimated_duration}}
                                                            {% else %}
                                                                Sin especificar
                                                            {% endif %}
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="card card-stats card-round">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="flaticon-graph-2 text-primary"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-stats">
                                                    <div class="numbers">
                                                        <p class="card-category">Esfuerzo</p>
                                                        <h4 class="card-title">
                                                            {% if routine.effort_level %}
                                                                {{routine.effort_level_desc}}
                                                            {% else %}
                                                                Sin especificar
                                                            {% endif %}
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="card card-stats card-round">
                                        <div class="card-body">
                                            <div class="row">
                                                {% if user.is_trainer %}
                                                    <div class="col-12 col-stats">
                                                        <div class="text-center">
                                                            <a href="{% url 'routine_detail' routine.id %}" class="btn btn-info btn-custom">Ver</a>
                                                            <a href="{% url 'routine_edit' routine.id %}" class="btn btn-primary btn-custom">Editar</a>
                                                            <a href="{% url 'routine_instruction_list' routine.id %}" class="btn btn-secondary btn-custom">Ejercicios</a>
                                                            <a href="{% url 'routine_delete' routine.id %}" class="btn btn-danger btn-custom" style="margin-top:5px;">Borrar</a>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col-12 text-center">
                                                        <div class="numbers">
                                                            <a href="{% url 'routine_detail' routine.id %}" class="btn btn-info btn-custom view-routine">Ver</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
