{% extends "base.html" %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Entrenamientos</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'dashboard' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'training_list' %}">Entrenamientos</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'training_create' %}">Crear</a>
                </li>
            </ul>
        </div>
        <div class="row">
                <form method="post" action="{% url 'training_create' %}" class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        {{ form.routine.label_tag }}
                                        {{ form.routine }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.date.label_tag }}
                                        {{ form.date }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.duration.label_tag }}
                                        {{ form.duration }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action float-right">
                            <div class="float-right">
                                <a href="{% url 'training_list' %}" class="btn btn-danger">Cancelar</a>
                                <button type="submit" class="btn btn-success">Crear</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>

{% endblock %}
