{% extends "base.html" %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Entrenamientos</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'dashboard' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'training_list' %}">Entrenamientos</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="card card-stats card-primary card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-calendar"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Promedio semanal</p>
                                    <h4 class="card-title">{{weekly_average}} veces</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="card card-stats card-info card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-time"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Tiempo total</p>
                                    <h4 class="card-title">{{total_time}} horas</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 float-right">
                                <a href="{% url 'training_create' %}" class="btn btn-success float-right"><i class="fas fa-swimmer"></i>  Entrenar</a>
                            </div>
                        </div>
                        <table class="table table-head-bg-info mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">Rutina</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Duración</th>
                                    <th scope="col" class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for training  in trainings %}
                                    <tr>
                                        <td>{{training.routine.name}}</td>
                                        <td>{{training.date}}</td>
                                        <td>{{training.duration}}</td>
                                        <td class="text-center"><a href="{% url 'training_delete' training.id %}" class="btn btn-danger">Borrar</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
